arrow==0.17.0
asyncio==3.4.3
click==6.7
configparser==5.0.0
falcon==1.1.0
Flask==1.1.2
gunicorn==19.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dateutil==2.8.1
python-mimeparse==1.6.0
python-scriptures==3.0.0
redis==4.5.3
requests==2.20.0
-e git+https://github.com/nvie/rq.git@55dce19a95dc043bae1691ac3bda13c33550a0ec#egg=rq
rq-dashboard==0.6.1
six==1.10.0
Werkzeug==1.0.1
